<div class="row valign-wrapper">
  <div class="col m3 s6 center-align">
    <h5>{{bank.name}}</h5>
  </div>
  <div class="col m3 s6 center-align">
    <a class="btn-floating waves-effect waves-light blue"
       (click)="showInfo=!showInfo">
      <i *ngIf="showInfo" class="material-icons">keyboard_arrow_up</i>
      <i *ngIf="!showInfo" class="material-icons">keyboard_arrow_down</i>
    </a>
    <a [routerLink]="'/clients/'+bank.name"
       class="btn-floating waves-effect waves-light blue-grey" style="margin-left: 20px;">
      <i class="material-icons">
        view_headline
      </i>
    </a>
  </div>
</div>
<div class="info" *ngIf="showInfo">
  <div class="input-field">
    <input id="name" [(ngModel)]="bank.name"
           type="text" class="validate">
    <label for="name" class="active">Name</label>
  </div>
  <div class="input-field">
    <input id="budget" [(ngModel)]="bank.budget"
           type="number" min="0" step="1" class="validate">
    <label for="budget" class="active">budget</label>
  </div>
  <div class="input-field">
    <input id="location" [(ngModel)]="bank.location"
           type="text" class="validate">
    <label for="location" class="active">location</label>
  </div>
  <a class="rem-row btn-floating waves-effect waves-light red" (click)="removeBank()">
    <i class="material-icons">delete</i>
  </a>
</div>
