<div class="row valign-wrapper">
  <div class="col m6 offset-m3 s12" style="margin-top: 20px;">
    <a [routerLink]="'/banks'" class="btn-floating waves-effect waves-light blue-grey">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>
  </div>
</div>
<div class="row valign-wrapper">
  <div class="col m6 offset-m3 s12">
    <h5 class="center-align">List of clients</h5>
  </div>
</div>
<app-new-client (change)="onChange($event)"></app-new-client>
<app-client *ngFor="let client of clients; let i = index"
            [client]="client" [clientIndex]="i"
            (change)="onChange($event)"></app-client>
