<div class="row">
  <div class="col m6 offset-m3 s12">
    <a *ngIf="!showForm" (click)="showForm=true"
       class="btn-floating btn-large waves-effect waves-light green">
      <i class="material-icons">add</i>
    </a>
    <form *ngIf="showForm" #myForm="ngForm" novalidate
          (ngSubmit)="onSubmit(myForm)">
      <h5>New bank</h5>
      <div class="input-field">
        <input id="name" name="name" ngModel
               type="text" required>
        <label for="name" class="active">Name</label>
      </div>
      <div class="input-field">
        <input id="budget" name="budget" ngModel
               type="number" min="0" step="1" required>
        <label for="budget" class="active">budget</label>
      </div>
      <div class="input-field">
        <input id="location" name="location" ngModel
               type="text" required>
        <label for="location" class="active">location</label>
      </div>

      <div class="form-group">
        <button type="button" (click)="showForm=false"
                class="rem-row btn-floating waves-effect waves-light left blue-grey">
          <i class="material-icons">keyboard_arrow_up</i>
        </button>
        <button type="submit" [disabled]="myForm.invalid"
                class="rem-row btn-floating waves-effect waves-light green right">
          <i class="material-icons">done</i>
        </button>
      </div>
    </form>
  </div>
</div>
